.App {
  text-align: center;
}
header {
  background-color: rgb(41, 44, 52); 
  color: white;
  margin: none;
}

.links {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}
.link {
  width: 200px;
  height: 200px;
  background-color: rgb(41, 70, 70);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: white;
}
.single-starship-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.starship {
  width: 200px;
  height: 200px;
  background-color: rgb(41, 70, 70);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 0px 0px 20px;
  color: white;
}
a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}
